.container {
    margin: 0 auto;
    width: min(100% - 2rem, 1400px);

    &--sm {
        width: min(100% - 2rem, 500px);
    }
}

.container~.container {
    margin-top: 3rem;
}
@media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
  }
  