.list {
    padding-left: 2rem;

    &--heart {
        list-style: "\2764" !important;
    }

    &--square {
        list-style: square !important;
    }

    &--ordered {
        list-style: roman;
    }


    &__item {
        span {
            position: relative;
            left: 10px;
        }

        &::marker {
            padding-right: 5rem;
        }
    }
}

.list~.list {
    margin-top: .25rem;
}